@import 'cloud-ui.vusion/src/base/index.css';
body, html,#app {
    width: 100%;
    height: 100%;
}
ul, ol {
    padding-left: 0;
}
.f-tac {
    text-align: center;
}
.pager {
    margin: 20px 15px;
    text-align: right;
}
.pager input {
    text-align: left;
}
