<component :is="layoutComponent">
    <template #head>
        <s-navbar :config="navbarConfig">
            <template #left>
                <s-logo>{{ logo.sub }}</s-logo>
            </template>
            <template #right>
                <s-navbar-right :userInfo="userInfo"></s-navbar-right>
            </template>
        </s-navbar>
    </template>
    <template #side v-if="hasSideBar">
        <s-sidebar :config="sidebarConfig"></s-sidebar>
    </template>
    <template #default>
        <u-linear-layout direction="vertical" :class="$style.main" :no-side="!hasSideBar">
            <s-crumb :class="$style.crumb" :no-side="!hasSideBar"></s-crumb>
            <router-view></router-view>
        </u-linear-layout>
    </template>
</component>
